
.form {
    background: linear-gradient(45deg, $pink, lighten($pink,6));
    color: $white;
    border: none;
    outline: none;
    box-shadow: 0 0px 10px rgba(118, 82, 161, 0.65), 0 0px 50px rgba(204, 78, 156, 0.45);
    padding: 15px;
    .form-control {
        background: linear-gradient(90deg, lighten($pink,6), transparent);
        color: $white;
        border: none;
        outline: none;
        box-shadow: none;
        border-radius: 0;  
        font-style: italic;
        //box-shadow: 0 0px 10px rgba(118, 82, 161, 0.65), 0 0px 50px rgba(204, 78, 156, 0.45);
        &::placeholder {
            color: $gray-300; 
        }
    }
}