section {
    //padding-top: 40px;
    margin-bottom: 20px;
    .section-image {
        text-align: center;
        img {
            margin: 0 auto;
        }
    }

    .section-content {
        height: 100%;
        background-color: transparent;
        border: none;
        .card-body{
            padding: 0;
            .card-header {
                background-color: transparent;
                border: none;
                padding: 15px 0;
            }
            .card-footer {
                background-color: transparent;
                border-color: $purple;
                padding: 15px 0;
            }
        }
    }
    
}

@include media-breakpoint-down(sm) {
    section {
        .headline {
            &:after{
            
            }
        }
        
        .section-image {
        }
    
        .section-content {
            .card-body{
                .card-header {

                }
                .card-footer {
                    text-align: center;
                }
            }
        }
        
    }
}