section {
    padding-top: 40px;
    .headline {
        padding: 10px;
        color: $purple-dark;
        position: relative;
        text-align: center;
        &:after{
            content:' ';
            position: absolute;
            display:block;
            width: 50px;
            border:3px solid $purple-dark;
            border-radius:4px;
            background-color: $purple-dark;
            left: 50%;
            transform: translateX(-50%);
            top: 0;
        }
    }
    .sub-section {
        margin: 15px 0;
    }
    .card-group, .card-deck {
        flex-wrap: wrap;
        justify-content: center;
        .card {
            flex-grow: 0;
            flex-basis: 30%;
            border-radius: 0;
            border: none;
            outline: 1px solid $gray-300;
            background-color: $white;
            //padding: 15px;
            // //max-width: 1700px;
            //box-shadow: 2px 2px 7px $purple-dark;
            //border: 1px solid $purple-dark;
            .icon {
                height: 150px;
                width: 150px;
                margin: 0 auto;
                margin-top: 20px;
            }
            .vector {
                max-height: 150px;
                max-width: 250px;
                margin: 0 auto;
                margin-top: 20px;
            }
        }
        .member-card {
            flex-basis: 20%;
        }
    }
    
}